aiohttp
beautifulsoup4
fastapi[standard]
fastembed
langchain
langchain-text-splitters
loguru
lxml
openai
opik
prefect
psutil
psycopg2-binary
pydantic
pydantic-settings
qdrant-client
sqlalchemy
supabase
uvloop
gradio
markdown
python-dotenv
markdownify
